body {
    margin: 0;
    font-family:  Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;;
}

#container {
    display: grid;
    grid-template-rows: 1fr 2fr 6fr;
    height: 60vh;
}

h1 {
    color: #EF8354;
    margin: 0;
    font-size: 18px;
}

#header {
    border-bottom: 2px solid #BFC0C0;
    background-color: #4F5D75;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D3142;
    border-bottom: 2px solid #BFC0C0;
    padding: 2%;
}
#formContainer>form {
    display: flex;
    gap: 15px;

}
#formContainer>form>button {
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#location {
    border: 3px solid #BFC0C0;
    border-radius: 20px;
    padding: 5%;
    text-align: center;
}

#location:focus {
    border: #EF8354;;
}

#weathersection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #BFC0C0;
    padding-bottom: 20px;
}

#weather {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}